<h1>Products That Will Change Your Life:</h1>

<% if flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h4>Click here to create a New Product:
  <%= link_to  "Create New Product", new_admin_product_path, class: 'btn btn-primary' %>
</h4>

<table class="table table-bordered table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Created</th>
    <th>Created At</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= link_to product.id, admin_product_path(product.id) %></td>
      <td id="product-<%= product.id %>"><%= link_to product.name, admin_product_path(product.id) %></td>
      <td><%= image_tag product.image_url, width: 400, alt: product.image_url %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= time_ago_in_words product.created_at %> ago</td>
      <td><%= product.created_at.strftime("Created at %A %B %e, %Y %l:%m %p %Z") %></td>
      <td><%= link_to "Edit", edit_admin_product_path(product) %></td>
      <td><%= link_to "Delete", admin_product_path(product), class: 'btn btn-danger',method: 'delete', data: {confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
